    * {
    margin: 0;
    box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
caption {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

html,
body {
    background-color: #244349;
    height: 100%;
    /*text-align: center;*/
    font-family: 'Noto Serif', serif;
}

section {
    background-color: #b8b8b8;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -60px;
    width: 100%;
}


}
section:after {
    content: "";
    display: block;
}
section > h1 {
    padding: 20px 0;
    font-size: 2em;
    color: #0d1617;
    text-align: center;
}
footer,
section:after {
    height: 60px;
}
footer {
    background: transparent;
    color: #fff;
}
p {
    padding-top: 15px;
}
footer > h4 {
    padding: 1.5em 0 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Noto Serif', serif;
}
input {
    width: 90%;
}
ul {
    list-style-type: none;
}
hr {
    width: 80%;
    margin: 0 auto;
    opacity: 0.6;
}
li {
    font-size: 1.5em;
    padding: 0.6em 0;
}

/* Navigation Styling*/
.nav-bar {
    position: fixed;
    width: 14em;
    min-height: 100%;
    top: 0;
    right: 0;
    background-color: #56587f;
    text-align: center;
    color: #EAEAEA;
    z-index: 99999;
}
.nav-list {
    margin: 0 auto;
    /*font-family: 'Poppins', sans-serif;*/
    
    font-family: 'Noto Serif', serif;
    padding: 1.2em 0;
}
.logo {
    padding: 20px;
    font-family: 'Pacifico', cursive;
    font-size: 2.4em;
}

/*Search bar styling*/
.search-contain {
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
    text-align: center;
}
.search-contain input#search {
    width: 75px;
    height: 80px;
    background: transparent;
    border: none;
    font-size: 14pt;
    color: #EAEAEA;
    padding-left: 75px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #fff;
    -webkit-transition: width .55s ease;
    -moz-transition: width .55s ease;
    -ms-transition: width .55s ease;
    -o-transition: width .55s ease;
    transition: width .55s ease;
}
.search-contain input#search::-webkit-input-placeholder {
    color: #65737e;
}
.search-contain input#search:-moz-placeholder {
    /* Firefox 18- */
    
    color: #65737e;
}
.search-contain input#search::-moz-placeholder {
    /* Firefox 19+ */
    
    color: #65737e;
}
.search-contain input#search:-ms-input-placeholder {
    color: #65737e;
}
.search-contain .icon {
    position: fixed;
    font-size: 3.2em;
    margin-left: 17px;
    z-index: 1;
    color: #EAEAEA;
}
.search-contain input#search:focus,
.search-contain input#search:active {
    outline: none;
    padding-left: 5px;
    width: 90%;
}
.search-contain:hover input#search {
    width: 90%;
    padding-left: 5px;
}
.search-contain:hover .icon {
    display: none;
    color: #93a2ad;
}
.hidden {
    display: none;
}

/*view toggle*/
.view-toggle {
    width: 100%;
    padding-bottom: 3em;

}
.view {
    padding-top: 1.5em;
}
.view i {
    padding-right: .5em;
}
.view li {
    display: inline;
    padding: 0 0.8em;
    margin-right: .3em;
    font-size: 1.2em;
    cursor: pointer;

}
.view li:hover {
    opacity: 1;
}
.sel{
    opacity: 1;
}
.non-sel{
	opacity: 0.5;
}

.heading{
	font-size: 1.5em;
	margin-top: 1.5em;
}

/*map area*/
#map-area {
    height: 100%;
}

/*Light box Waterflow details*/

.lightbox {
	display: none;
	position: fixed;
	z-index: 999;
	width: 100%;
	height: 100%;
	text-align: center;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.9);
}
.lightbox > h1{
	color: #fff0b7;
	font-size: 3.5em;
	padding-top: 280px; 
}
.light-contain{
	width: 60%;
	height: 60%;
	background-color: #EAEAEA;
	border-radius: 20px;
	position: absolute;
	margin: 0 auto;
	left: 15%;
	top: 20%;
}
.light-contain  h2{
	text-align: left;
	font-size: 1.8em;
	padding: 10px;
}
.col-8{
	width:70%;
	height: 50%;
	float: left;
}
.col-4{
	width: 30%;
	height: 50%;
	float: left;
}
.guage > table{
	margin: 0 auto;
}
.details > h4{
	text-align: left;
}

/*light*/